[Unit]
Description=This is the manually created service in level up devops - web books
After=network.target

[Service]
ExecStart=/home/ms-ask-vm/2024-07-example/apps/webbooks/target/DigitalLibrary-0.0.1-SNAPSHOT.jar
User=webbooks

[Install]
WantedBy=multi-user.target
